<!DOCTYPE html>
<html lang="en">
    {{!-- HEADER --}}
    {{>head}}
<body>
    {{!-- NAVBAR --}}
    {{>navbar}}
    <div class="container">
    {{!-- BODY --}}
    {{{body}}}
    </div>
    
    {{!-- FOOTER --}}
    {{>footer}}
</body>
</html>